<div>
  <h2><%= t('views.common.title_index', name: Comment.model_name.human) %></h2>
  <% if commentable.comments.any? %>
    <ul>
      <% commentable.comments.each do |comment| %>
        <li class="comment-list">
          <strong><%= comment.user.display_name %></strong> - <%= l comment.created_at, format: :long %>
          <div class="comment-list-content">
            <%= comment.content %>
          </div>
          <% if comment.user == current_user %>
            <div class="comment-list-link">
              <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_comment_path(comment) %>
              <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), comment, method: :delete, class: "comment-list-link" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('views.comments.no_comment') %></p>
  <% end %>
</div>
<div>
  <%= form_with model: [commentable, @comment], local: true do |form| %>
    <div>
      <%= form.label :content, t('views.common.new', name: Comment.model_name.human.downcase) %>
      <%= form.text_area :content, required: true, placeholder: t('views.comments.placeholder') %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
