<p style="color: green"><%= notice %></p>

<h1><%= t('views.books.index.title') %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('views.books.index.show_book'), book_path(book, locale: I18n.locale) %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('views.books.index.new_book'), new_book_path(locale: I18n.locale) %>
</nav>
