<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<div class="page-nav">
  <%= link_to "Edit this book", edit_book_path(@book, locale: I18n.locale) %> |
  <%= link_to "Back to books", books_path(locale: I18n.locale) %>

  <%= button_to "Destroy this book", book_path(@book, locale: I18n.locale), method: :delete %>
</div>
