<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<div class="page-nav">
  <%= link_to t('views.books.show.edit_book'), edit_book_path(@book, locale: I18n.locale) %> |
  <%= link_to t('views.books.show.back_to_books'), books_path(locale: I18n.locale) %>

  <%= button_to t('views.books.show.destroy'), book_path(@book, locale: I18n.locale), method: :delete %>
</div>
